<h2>Here ur board is</h2>

<h3><%= board.get("title") %></h3>

<ul class="lists-list"></ul>

<!-- for debugging/development - this will eventually be removed -->
<p>
  <a href="#">Back to all boards</a>
</p>