<form class="card-touch touch">

  <textarea id="card-title" class="touch-input"
    name="card[title]" value="<%= card.escape("title") %>">
  </textarea>

  <br>  <!-- remove later -->

  <input type="submit" value="Add">
</form>