<form class="list-touch">

  <label for="list-title">Title:</label>
  <input type="text" id="list-title"
    name="list[title]" value="<%= list.escape("title") %>">

  <br>  <!-- remove later -->

  <input type="submit" value="<%= method %>">
</form>